<section class="container home-section">
  <div class="formContainer">
    <div class="message">
      <p>Les petit poisson dans l'eau nage pas dans le ciel</p>
      <span style="float: right;">Par: PERROT Jonathan</span>
    </div>
    <br>
    <h1>Désolé je me fait chier...</h1>
    <p>😅😅😅😅😅😅😅😅😅😅😅😅😅😅😅😅😅😅😅😅😅😅😅😅😅😅</p>
    <!-- <h2>Démarer votre site en 3 étapes ...</h2> -->
    <p style="width: 320px; background: red;">test</p>
    <!-- <form action="" method="get">
      <input type="text" placeholder="Nom de votre site">
      <h3>Type de projet</h3>
      <div class="type-project">
        <input type="button" value="Personel">
        <input type="button" value="Entreprise">
        <input type="button" value="Portfolio">
        <input type="button" value="Autre">
      </div>

      <input type="submit" value="Commencer">
    </form> -->
  </div>

</section>