<div class="container">

  <% if (projects.length > 0) { %>

    <div class="projects-grid">
      <% projects.forEach(project => { %>
        <div class="project-card">
          <h3><%= project.name %></h3>

          <p><strong>Slug :</strong> <%= project.slug %></p>

          <p style="font-size: 12px; color: #777;">
            Modifié le <%= project.updatedAt.toLocaleDateString("fr-FR") %>
          </p>

          <a href="/editor/<%= project._id %>">Ouvrir</a>
        </div>
      <% }) %>
    </div>

  <% } else { %>

    <div class="empty">
      <p>Aucun projet pour le moment</p>
      <p>Crée ton premier projet 👆</p>
    </div>

  <% } %>

</div>