<div class="dashboard-topbar">
    <h2><%= topbarTitle %></h2>

    <div class="top-action">
        <div class="search">
            <input type="search" name="" id="" placeholder="Rechercher un projet, une page, un widget...">
            <i data-lucide="search" class="icon-search"></i>
        </div>

        <button type="button" class="cardProject create" id="openModal">+ Nouveau projet</button>
        <i data-lucide="settings" class="icon-topaction icon-setting"></i>
        <i data-lucide="contrast" class="icon-topaction icon-theme" title="Changer le thème"></i>

    </div>

</div>